/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Lucida Sans';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: Samsung;
    src: url(https://www.samsung.com/us/smg/etc/designs/samsung/global/global_clientlib/fonts/SamsungOneLatinWeb-400.woff);
}

@font-face {
    font-family: 'Samsung Sharp';
    src: url(https://www.samsung.com/us/smg/etc/designs/samsung/global/global_clientlib/fonts/SamsungSharpSans-Bold.woff);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Samsung, sans-serif;
}

.hero {
    width: 90%;
    height: 586px;
    position: relative;
    margin: 0 auto;
}

.hero__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 58.3%;
    width: 31%;
    color: #000;
}

.hero__img {
    width: 100%;
}

.hero h2 {
    font-size: 45px;
    margin-bottom: 28px;
    font-weight: 700;
    font-family: "Samsung Sharp";
}

.hero h3 {
    font-size: 21px;
    line-height: 1.71;
}

.hero__cta {
    margin-top: 50px;
}

.hero__btn {
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 1px;
    transition: all .3s ease;
}

.hero__btn:not(:last-child) {
    margin-right: 25px;
}

.hero__btn-round {
    border: 1px solid #000;
    border-radius: 25px;
    padding: 15px 18px;
}

.hero__btn-round:hover {
    background-color: #000;
    color: #fff;
}

.hero__detail {
    font-size: 21px;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 5px;
    margin-left: 2px;
}