* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
/*
.image {
    width: 100%;
}
*/
.box {
    width: 100%;
    height: 500px;
    border: 1px solid #000000;
   /* background-color: aqua; */
   background-image: url(../img/asphalt-beautiful-fashion-373289.jpg);
   background-size: cover;
   background-position: center;
}